@import './base.css';

/* #app {
  max-width: 1280px;
  margin: 0 auto;
  font-weight: normal;
} */

a,
.green {
  text-decoration: none;
  /* color: hsla(160, 100%, 37%, 1); */
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    /* background-color: hsla(160, 100%, 37%, 0.2); */
  }
}

/* @media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  }
} */
a {
  text-decoration: none; /* 去除下划线 */
  color: inherit; /* 使链接颜色继承自父元素，或者可以指定一个颜色 */
  background-color: transparent; /* 确保背景色为透明 */
  /* 如果您不希望链接有默认的行为，可以取消注释以下两行 */
  /* box-shadow: none; */
  /* text-shadow: none; */
}

/* 鼠标悬停在链接上时 */
a:hover {
  text-decoration: none; /* 去除鼠标悬停时的下划线 */
  /* 可以在这里添加其他悬停效果，例如改变颜色 */
}

/* 链接被激活（点击）时 */
a:active {
  /* 去除点击激活时的默认样式 */
  box-shadow: none;
  text-shadow: none;
}


